.button {
  display: block;
  background-color: black;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  border-radius: 30px;
  color:black;
}

.result {
  height: 60px;
  background-color:orange;
  width: 100%;
}
.result p {
  font-size: 40px;
  margin: 5px;
  border-radius: 30px;

}
.cal-body{
  max-width: 400px;
  margin: auto;
}
.cal{
  border-radius: 30px;
}
